<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="header-box">
        <div class="header box">
            <span class="icon icon-logo"></span>
            <ul id="nav" class="clearfix">
                <li class="active"><a href="">首页</a></li>
                <li><a href="">漫画</a></li>
                <li><a href="">视频</a></li>
                <li><a href="">文章</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">投稿</a></li>
            </ul>
        </div>
    </div>
    <span class="icon icon-kefu"></span>
    <div class="box page1 gap">
        <div class="banner">
            <img src="img/banner.png" alt="">
        </div>
        <ul class="gap">
            <li>
                <span class="icon icon-video"></span>
                <div>视频</div>
            </li>
            <li>
                <span class="icon icon-picture"></span>
                <div class="b2">漫画</div>
            </li>
            <li>
                <span class="icon icon-article"></span>
                <div class="b3">文章</div>
            </li>
            <li>
                <span class="icon icon-about"></span>
                <div class="b4">关于我们</div>
            </li>
            <li>
                <span class="icon icon-vote" style="width:254px"></span>
                <div class="b5">投稿</div>
            </li>
        </ul>
        <div class="c gap">   
            <span class="icon icon-qr"></span>
        </div>
        
    </div>
    <div class="p p2">
        <div class="navbar box">
            <span class="p-title">漫画</span>
            <span class="icon icon-p2top"></span>
            <ul>
                <li class="active"><a href="">全部</a></li>
                <li><a href="">猫狗奇葩说</a></li>
                <li><a href="">女神女神经</a></li>
            </ul>
            <a href="" class="more">查看更多</a>
        </div>
        <span class="icon icon-p2left"></span>
        <span class="icon icon-p2right"></span>
        <div class="box">
            <ul class="card-box" style="margin-top:80px;">
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
            </ul>
            <ul class="card-box" style="margin-top:50px;">
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="p p3">
        <div class="navbar box">
            <span class="p-title">视频</span>
            <span class="icon icon-p3top"></span>
            <ul>
                <li class="active"><a href="">全部</a></li>
                <li><a href="">我要搞事情</a></li>
                <li><a href="">赛事视频</a></li>
            </ul>
            <a href="" class="more">查看更多</a>
        </div>
        <span class="icon icon-p3left"></span>
        <span class="icon icon-p3right"></span>
        <div class="box">
            <ul class="card-box" style="margin-top:80px;">
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
            </ul>
            <ul class="card-box" style="margin-top:50px;">
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="p p4">
        <div class="navbar box">
            <span class="p-title">文章</span>
            <span class="icon icon-p4top"></span>
            <ul>
                <li class="active"><a href="">全部</a></li>
                <li><a href="">我要搞事情</a></li>
                <li><a href="">赛事视频</a></li>
            </ul>
            <a href="" class="more">查看更多</a>
        </div>
        <span class="icon icon-p4left"></span>
        <span class="icon icon-p4right"></span>
        <div class="box">
            <ul class="card-box" style="margin-top:80px;">
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
            </ul>
            <ul class="card-box" style="margin-top:50px;">
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
                <li class="card">
                    <div class="card-img" style="background-image:url('img/p2.png')">
                    </div>
                    <div class="card-title">喵说</div>
                    <div class="card-des">《再不努力外卖都没得你送了》</div>
                    <div class="card-line"></div>
                    <div class="card-time">
                        2017.6.12
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="footer">
        <div>
            <span class="icon icon-tqr"></span>
            <span class="icon icon-fqr"></span>
            <ul style="margin-left: 130px;">
                <li><a href="">关于我们</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">加入我们</a></li>
            </ul>
            <ul>
                <li><a href="">友情链接</a></li>
                <li><a href="">漫画周边</a></li>
                <li><a href="">用户反馈</a></li>
            </ul>
            <ul>
                <li><a href="">表情包下载</a></li>
                <li><a href="">在线咨询</a></li>
                <li><a href="">帮助</a></li>
            </ul>
            <div class="block">
                <div >
                    <span class="icon icon-wc"></span>
                    <div class=" m l">
                        <div>非正常猫狗研究所微博</div>
                        <div>莱客娱乐微博</div>
                    </div>
                </div>
                <div >
                    <span class="icon icon-wc"></span>
                    <div class=" m l">
                        <div>非正常猫狗研究所微博</div>
                        <div>莱客娱乐微博</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c">
            <div>
                广州莱客传媒有限公司 丨 服务热线：020-38250061
            </div>
            <div>
                www.petzman.com 部分素材来源自互联网 如有侵犯您的权益 请联系我们 粤ICP备15024972号
            </div>
        </div>
        
    </div>

</body>
</html>