<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="header-box">
        <div class="header box">
            <span class="icon icon-logo"></span>
            <ul id="nav" class="clearfix">
                <li class="active"><a href="">首页</a></li>
                <li><a href="">漫画</a></li>
                <li><a href="">视频</a></li>
                <li><a href="">文章</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">投稿</a></li>
            </ul>
        </div>
    </div>
    <span class="icon icon-kefu"></span>
    <div class="box page1 gap">
        <div class="banner">
            <img src="img/banner.png" alt="">
        </div>
        <ul class="gap">
            <li>
                <span class="icon icon-video"></span>
                <div>视频</div>
            </li>
            <li>
                <span class="icon icon-picture"></span>
                <div class="b2">漫画</div>
            </li>
            <li>
                <span class="icon icon-article"></span>
                <div class="b3">文章</div>
            </li>
            <li>
                <span class="icon icon-about"></span>
                <div class="b4">关于我们</div>
            </li>
            <li>
                <span class="icon icon-vote" style="width:254px"></span>
                <div class="b5">投稿</div>
            </li>
        </ul>
        <div class="c gap">   
            <span class="icon icon-qr"></span>
        </div>
    </div>
</body>
</html>